.shimmer-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .shimmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
  
  .shimmer-box {
    width: 100%;
    height: 350px;
    background-color: #ccc;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .shimmer-box h1, .shimmer-box p {
    background-color: #ddd;
    margin: 10px 0;
    height: 20px;
    width: 50%;
    border-radius: 4px;
  }
  
  .shimmer-box p {
    margin-top: 5px;
    width: 80%;
  }
  

  